In [1]:
import pandas as pd 
import numpy as np 

df = pd.read_csv('HR-Employee-Attrition.csv')

basic Check

In [5]:
df.shape

(1470, 35)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [7]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [9]:
df.describe()

               Age    DailyRate  DistanceFromHome  ...  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
count  1470.000000  1470.000000       1470.000000  ...         1470.000000              1470.000000           1470.000000
mean     36.923810   802.485714          9.192517  ...            4.229252                 2.187755              4.123129
std       9.135373   403.509100          8.106864  ...            3.623137                 3.222430              3.568136
min      18.000000   102.000000          1.000000  ...            0.000000                 0.000000              0.000000
25%      30.000000   465.000000          2.000000  ...            2.000000                 0.000000              2.000000
50%      36.000000   802.000000          7.000000  ...            3.000000                 1.000000              3.000000
75%      43.000000  1157.000000         14.000000  ...            7.000000                 3.000000              7.000000
max      60.000000  1499.000000         29.000000  ...           18.000000                15.000000             17.000000

[8 rows x 26 columns]

Remove Useless Columns

In [21]:
df.drop(columns=['EmployeeCount', 'StandardHours', 'Over18', 'EmployeeNumber'], 
        inplace=True, 
        errors='ignore')

In [25]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [30]:
# Rename Cols
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [39]:
df.columns

Index(['age', 'attrition', 'businesstravel', 'dailyrate', 'department',
       'distancefromhome', 'education', 'educationfield',
       'environmentsatisfaction', 'gender', 'hourlyrate', 'jobinvolvement',
       'joblevel', 'jobrole', 'jobsatisfaction', 'maritalstatus',
       'monthlyincome', 'monthlyrate', 'numcompaniesworked', 'overtime',
       'percentsalaryhike', 'performancerating', 'relationshipsatisfaction',
       'stockoptionlevel', 'totalworkingyears', 'trainingtimeslastyear',
       'worklifebalance', 'yearsatcompany', 'yearsincurrentrole',
       'yearssincelastpromotion', 'yearswithcurrmanager'],
      dtype='object')

Basic EDA Questions

[Attrition by Department]
[Attrition by Gender]
[Attrition by Overtime]
[Attrition vs MonthlyIncome]
[Attrition vs JobSatisfaction]

In [37]:
# Check Class Imbalance
df['attrition'].value_counts()

attrition
No     1233
Yes     237
Name: count, dtype: int64

In [40]:
# Attrition by Department
df.groupby('department')['attrition'].value_counts(normalize=True) * 100

department              attrition
Human Resources         No           80.952381
                        Yes          19.047619
Research & Development  No           86.160250
                        Yes          13.839750
Sales                   No           79.372197
                        Yes          20.627803
Name: proportion, dtype: float64

In [41]:
# Attrition by Gender
df.groupby('gender')['attrition'].value_counts()

gender  attrition
Female  No           501
        Yes           87
Male    No           732
        Yes          150
Name: count, dtype: int64

In [42]:
# Attrition by Overtime
df.groupby('overtime')['attrition'].value_counts()

overtime  attrition
No        No           944
          Yes          110
Yes       No           289
          Yes          127
Name: count, dtype: int64

In [46]:
# Attrition vs MonthlyIncome 
df.groupby('attrition')['monthlyincome'].mean()

attrition
No     6832.739659
Yes    4787.092827
Name: monthlyincome, dtype: float64

In [49]:
#Attrition vs JobSatisfaction
df.groupby('jobsatisfaction')['attrition'].value_counts()

jobsatisfaction  attrition
1                No           223
                 Yes           66
2                No           234
                 Yes           46
3                No           369
                 Yes           73
4                No           407
                 Yes           52
Name: count, dtype: int64

In [59]:
from sqlalchemy import create_engine

username = "postgres"
password = "harshit123"
host = "localhost"
port = "5432"
database = "hr_employee_attrition"

engine = create_engine(
    f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}"
)

table_name = "hr_attrition"

df.to_sql(table_name, engine, if_exists="replace", index=False)

print("✅ Successfully Inserted into PostgreSQL!")

✅ Successfully Inserted into PostgreSQL!